//! **************************************************************************
// Written by: Map P.20131013 on Tue Jan 02 14:32:56 2018
//! **************************************************************************

SCHEMATIC START;
COMP "probe_spi_clock" LOCATE = SITE "P85" LEVEL 1;
COMP "clk" LOCATE = SITE "P56" LEVEL 1;
COMP "cclk" LOCATE = SITE "P70" LEVEL 1;
COMP "probe_FCLK" LOCATE = SITE "P35" LEVEL 1;
COMP "probe_mosi" LOCATE = SITE "P88" LEVEL 1;
COMP "rst_n" LOCATE = SITE "P38" LEVEL 1;
COMP "spi_sck" LOCATE = SITE "P43" LEVEL 1;
COMP "ENABLE" LOCATE = SITE "P84" LEVEL 1;
COMP "avr_rx_busy" LOCATE = SITE "P39" LEVEL 1;
COMP "spi_channel[0]" LOCATE = SITE "P46" LEVEL 1;
COMP "spi_channel[1]" LOCATE = SITE "P61" LEVEL 1;
COMP "spi_channel[2]" LOCATE = SITE "P62" LEVEL 1;
COMP "spi_channel[3]" LOCATE = SITE "P65" LEVEL 1;
COMP "avr_rx" LOCATE = SITE "P59" LEVEL 1;
COMP "avr_tx" LOCATE = SITE "P55" LEVEL 1;
COMP "spi_ss" LOCATE = SITE "P48" LEVEL 1;
COMP "probe_CS" LOCATE = SITE "P87" LEVEL 1;
COMP "spi_miso" LOCATE = SITE "P45" LEVEL 1;
COMP "spi_mosi" LOCATE = SITE "P44" LEVEL 1;
TIMEGRP clk = BEL "avr_interface/cclk_detector/ctr_q_9" BEL
        "avr_interface/cclk_detector/ctr_q_8" BEL
        "avr_interface/cclk_detector/ctr_q_7" BEL
        "avr_interface/cclk_detector/ctr_q_6" BEL
        "avr_interface/cclk_detector/ctr_q_5" BEL
        "avr_interface/cclk_detector/ctr_q_4" BEL
        "avr_interface/cclk_detector/ctr_q_3" BEL
        "avr_interface/cclk_detector/ctr_q_2" BEL
        "avr_interface/cclk_detector/ctr_q_1" BEL
        "avr_interface/cclk_detector/ctr_q_0" BEL
        "avr_interface/cclk_detector/ready_q" BEL
        "avr_interface/spi_slave/bit_ct_q_1" BEL
        "avr_interface/spi_slave/bit_ct_q_0" BEL
        "avr_interface/spi_slave/bit_ct_q_2" BEL
        "avr_interface/spi_slave/data_q_7" BEL
        "avr_interface/spi_slave/data_q_6" BEL
        "avr_interface/spi_slave/data_q_5" BEL
        "avr_interface/spi_slave/data_q_4" BEL
        "avr_interface/spi_slave/data_q_3" BEL
        "avr_interface/spi_slave/data_q_2" BEL
        "avr_interface/spi_slave/data_q_1" BEL
        "avr_interface/spi_slave/data_q_0" BEL
        "avr_interface/spi_slave/sck_old_q" BEL
        "avr_interface/spi_slave/mosi_q" BEL "avr_interface/spi_slave/sck_q"
        BEL "avr_interface/spi_slave/ss_q" BEL
        "avr_interface/spi_slave/miso_q" BEL
        "avr_interface/serial_rx/bit_ctr_q_2" BEL
        "avr_interface/serial_rx/bit_ctr_q_1" BEL
        "avr_interface/serial_rx/bit_ctr_q_0" BEL
        "avr_interface/serial_rx/state_q_FSM_FFd1" BEL
        "avr_interface/serial_rx/state_q_FSM_FFd2" BEL
        "avr_interface/serial_rx/ctr_q_6" BEL
        "avr_interface/serial_rx/ctr_q_5" BEL
        "avr_interface/serial_rx/ctr_q_4" BEL
        "avr_interface/serial_rx/ctr_q_3" BEL
        "avr_interface/serial_rx/ctr_q_2" BEL
        "avr_interface/serial_rx/ctr_q_1" BEL
        "avr_interface/serial_rx/ctr_q_0" BEL
        "avr_interface/serial_rx/new_data_q" BEL
        "avr_interface/serial_rx/data_q_7" BEL
        "avr_interface/serial_rx/data_q_6" BEL
        "avr_interface/serial_rx/data_q_5" BEL
        "avr_interface/serial_rx/data_q_4" BEL
        "avr_interface/serial_rx/data_q_3" BEL
        "avr_interface/serial_rx/data_q_2" BEL
        "avr_interface/serial_rx/data_q_1" BEL
        "avr_interface/serial_rx/data_q_0" BEL "avr_interface/serial_rx/rx_q"
        BEL "clk_BUFGP/BUFG" BEL "FCLK/my_clk_q" BEL "FCLK/cnt_q_0" BEL
        "FCLK/cnt_q_1" BEL "FCLK/cnt_q_2" BEL "FCLK/cnt_q_3" BEL
        "FCLK/cnt_q_4" BEL "FCLK/cnt_q_5" BEL "FCLK/cnt_q_6" BEL
        "FCLK/cnt_q_7" BEL "FCLK/cnt_q_8" BEL "FCLK/cnt_q_9" BEL
        "FCLK/cnt_q_10" BEL "FCLK/cnt_q_11" BEL "FCLK/cnt_q_12" BEL
        "mems_spi_master/ctr_q_4" BEL "mems_spi_master/ctr_q_3" BEL
        "mems_spi_master/ctr_q_2" BEL "mems_spi_master/ctr_q_1" BEL
        "mems_spi_master/ctr_q_0" BEL "mems_spi_master/state_q_FSM_FFd1" BEL
        "mems_spi_master/state_q_FSM_FFd3" BEL
        "mems_spi_master/state_q_FSM_FFd2" BEL "mems_spi_master/sck_q_8" BEL
        "mems_spi_master/sck_q_7" BEL "mems_spi_master/sck_q_6" BEL
        "mems_spi_master/sck_q_5" BEL "mems_spi_master/sck_q_4" BEL
        "mems_spi_master/sck_q_3" BEL "mems_spi_master/sck_q_2" BEL
        "mems_spi_master/sck_q_1" BEL "mems_spi_master/sck_q_0" BEL
        "mems_spi_master/new_data_q" BEL "mems_spi_master/data_q_23" BEL
        "mems_spi_master/data_q_22" BEL "mems_spi_master/data_q_21" BEL
        "mems_spi_master/data_q_20" BEL "mems_spi_master/data_q_19" BEL
        "mems_spi_master/data_q_18" BEL "mems_spi_master/data_q_17" BEL
        "mems_spi_master/data_q_16" BEL "mems_spi_master/data_q_15" BEL
        "mems_spi_master/data_q_14" BEL "mems_spi_master/data_q_13" BEL
        "mems_spi_master/data_q_12" BEL "mems_spi_master/data_q_11" BEL
        "mems_spi_master/data_q_10" BEL "mems_spi_master/data_q_9" BEL
        "mems_spi_master/data_q_8" BEL "mems_spi_master/data_q_7" BEL
        "mems_spi_master/data_q_6" BEL "mems_spi_master/data_q_5" BEL
        "mems_spi_master/data_q_4" BEL "mems_spi_master/data_q_3" BEL
        "mems_spi_master/data_q_2" BEL "mems_spi_master/data_q_1" BEL
        "mems_spi_master/data_q_0" BEL "mems_spi_master/mosi_q" BEL
        "mems_spi_master/CS_q" BEL "helloWorldPrinter/ch_state_q_FSM_FFd1" BEL
        "helloWorldPrinter/ch_state_q_FSM_FFd2" BEL
        "helloWorldPrinter/delta_B_q_7" BEL "helloWorldPrinter/delta_B_q_6"
        BEL "helloWorldPrinter/delta_B_q_5" BEL
        "helloWorldPrinter/delta_B_q_4" BEL "helloWorldPrinter/delta_B_q_3"
        BEL "helloWorldPrinter/delta_B_q_2" BEL
        "helloWorldPrinter/delta_B_q_1" BEL "helloWorldPrinter/delta_B_q_0"
        BEL "helloWorldPrinter/delta_D_q_7" BEL
        "helloWorldPrinter/delta_D_q_6" BEL "helloWorldPrinter/delta_D_q_5"
        BEL "helloWorldPrinter/delta_D_q_4" BEL
        "helloWorldPrinter/delta_D_q_3" BEL "helloWorldPrinter/delta_D_q_2"
        BEL "helloWorldPrinter/delta_D_q_1" BEL
        "helloWorldPrinter/delta_D_q_0" BEL "helloWorldPrinter/delta_A_q_7"
        BEL "helloWorldPrinter/delta_A_q_6" BEL
        "helloWorldPrinter/delta_A_q_5" BEL "helloWorldPrinter/delta_A_q_4"
        BEL "helloWorldPrinter/delta_A_q_3" BEL
        "helloWorldPrinter/delta_A_q_2" BEL "helloWorldPrinter/delta_A_q_1"
        BEL "helloWorldPrinter/delta_A_q_0" BEL
        "helloWorldPrinter/delta_C_q_7" BEL "helloWorldPrinter/delta_C_q_6"
        BEL "helloWorldPrinter/delta_C_q_5" BEL
        "helloWorldPrinter/delta_C_q_4" BEL "helloWorldPrinter/delta_C_q_3"
        BEL "helloWorldPrinter/delta_C_q_2" BEL
        "helloWorldPrinter/delta_C_q_1" BEL
        "helloWorldPrinter/state_q_FSM_FFd1" BEL
        "helloWorldPrinter/state_q_FSM_FFd2" BEL "helloWorldPrinter/addr_q_2"
        BEL "helloWorldPrinter/addr_q_1" BEL "helloWorldPrinter/addr_q_0" BEL
        "helloWorldPrinter/start_q" BEL "helloWorldPrinter/play_q" BEL
        "helloWorldPrinter/message_rom/data_q_21" BEL
        "helloWorldPrinter/message_rom/data_q_20" BEL
        "helloWorldPrinter/message_rom/data_q_17" BEL
        "helloWorldPrinter/message_rom/data_q_16" BEL
        "helloWorldPrinter/message_rom/data_q_15" BEL
        "helloWorldPrinter/message_rom/data_q_14" BEL
        "helloWorldPrinter/message_rom/data_q_13" BEL
        "helloWorldPrinter/message_rom/data_q_12" BEL
        "helloWorldPrinter/message_rom/data_q_11" BEL
        "helloWorldPrinter/message_rom/data_q_10" BEL
        "helloWorldPrinter/message_rom/data_q_9" BEL
        "helloWorldPrinter/message_rom/data_q_8" BEL
        "helloWorldPrinter/message_rom/data_q_4" BEL
        "helloWorldPrinter/message_rom/data_q_0";
TS_clk = PERIOD TIMEGRP "clk" 50 MHz HIGH 50%;
SCHEMATIC END;

