// GLOBAL
NET "clk" TNM_NET = "clk";
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50 %;
NET "clk" LOC = P56;
NET "clk" IOSTANDARD = LVTTL;
NET "rst_n" LOC = P38;
NET "rst_n" IOSTANDARD = LVTTL;

//AVR
NET "cclk" LOC = P70;
NET "cclk" IOSTANDARD = LVTTL;
NET "avr_tx" LOC = P55;
NET "avr_tx" IOSTANDARD = LVTTL;
NET "avr_rx" LOC = P59;
NET "avr_rx" IOSTANDARD = LVTTL;
NET "avr_rx_busy" LOC = P39;
NET "avr_rx_busy" IOSTANDARD = LVTTL;

NET "spi_mosi" LOC = P44;
NET "spi_mosi" IOSTANDARD = LVTTL;
NET "spi_miso" LOC = P45;
NET "spi_miso" IOSTANDARD = LVTTL;
NET "spi_ss" LOC = P48;
NET "spi_ss" IOSTANDARD = LVTTL;
NET "spi_sck" LOC = P43;
NET "spi_sck" IOSTANDARD = LVTTL;
NET "spi_channel[0]" LOC = P46;
NET "spi_channel[0]" IOSTANDARD = LVTTL;
NET "spi_channel[1]" LOC = P61;
NET "spi_channel[1]" IOSTANDARD = LVTTL;
NET "spi_channel[2]" LOC = P62;
NET "spi_channel[2]" IOSTANDARD = LVTTL;
NET "spi_channel[3]" LOC = P65;
NET "spi_channel[3]" IOSTANDARD = LVTTL;


// BE CAREFUL WITH INTB, if wrong PIN -> just TDC time error bigger. but working.


// //F1
// NET "f1_ENABLE" LOC = P57 | IOSTANDARD = LVTTL;
// // TDC
// NET "f1_TDC_START_SIGNAL" LOC = P82 | IOSTANDARD = LVTTL; // laser triger also from here
// NET "f1_TDC_INTB" LOC = P75 | IOSTANDARD = LVTTL; 
// NET "f1_TDC_REF_CLOCK" LOC = P74 | IOSTANDARD = LVTTL;
// NET "f1_TDC_SPI_CLOCK" LOC = P79 | IOSTANDARD = LVTTL;

// NET "f1_TDC_CS" LOC = P83 | IOSTANDARD = LVTTL;
// NET "f1_TDC_MOSI" LOC = P80 | IOSTANDARD = LVTTL; 
// NET "f1_TDC_DOUT" LOC = P81 | IOSTANDARD = LVTTL; 
// // MEMS
// NET "f1_MEMS_FCLK" LOC = P78 | IOSTANDARD = LVTTL;
// NET "f1_MEMS_SPI_CLOCK" LOC = P58 | IOSTANDARD = LVTTL;
// NET "f1_MEMS_MOSI" LOC = P67 | IOSTANDARD = LVTTL;
// NET "f1_MEMS_CS" LOC = P66 | IOSTANDARD = LVTTL;



// // F2 -- WORKED
NET "f2_ENABLE" LOC = P84;
NET "f2_ENABLE" IOSTANDARD = LVTTL;
// TDC

// REMOVE!!
// NET "f2_EXT_START_SIGNAL" LOC = P95 | IOSTANDARD = LVTTL; // laser triger also from here



// laser triger also from here
NET "f2_TDC_START_SIGNAL" LOC = P94;
NET "f2_TDC_START_SIGNAL" IOSTANDARD = LVTTL;
NET "f2_TDC_INTB" LOC = P93;
NET "f2_TDC_INTB" IOSTANDARD = LVTTL;
NET "f2_TDC_REF_CLOCK" LOC = P92;
NET "f2_TDC_REF_CLOCK" IOSTANDARD = LVTTL;
NET "f2_TDC_SPI_CLOCK" LOC = P34;
NET "f2_TDC_SPI_CLOCK" IOSTANDARD = LVTTL;
NET "f2_TDC_CS" LOC = P33;
NET "f2_TDC_CS" IOSTANDARD = LVTTL;
NET "f2_TDC_MOSI" LOC = P30;
NET "f2_TDC_MOSI" IOSTANDARD = LVTTL;
NET "f2_TDC_DOUT" LOC = P32;
NET "f2_TDC_DOUT" IOSTANDARD = LVTTL;
// // MEMS
NET "f2_MEMS_FCLK" LOC = P35;
NET "f2_MEMS_FCLK" IOSTANDARD = LVTTL;
NET "f2_MEMS_SPI_CLOCK" LOC = P85;
NET "f2_MEMS_SPI_CLOCK" IOSTANDARD = LVTTL;
// | PULLDOWN;//PULLDOWN;
NET "f2_MEMS_MOSI" LOC = P88;
NET "f2_MEMS_MOSI" IOSTANDARD = LVTTL;
// | PULLUP;
NET "f2_MEMS_CS" LOC = P87;
NET "f2_MEMS_CS" IOSTANDARD = LVTTL;


// // F3 -- WORKED 
// NET "f3_ENABLE" LOC = P29 | IOSTANDARD = LVTTL;
// // TDC
// NET "f3_TDC_START_SIGNAL" LOC = P16 | IOSTANDARD = LVTTL; // EXT-START; laser triger also from here
// NET "f3_TDC_INTB" LOC = P22 | IOSTANDARD = LVTTL;  // STOP
// NET "f3_TDC_REF_CLOCK" LOC = P24 | IOSTANDARD = LVTTL; // CLOCK
// NET "f3_TDC_SPI_CLOCK" LOC = P15 | IOSTANDARD = LVTTL; // SPI_CLK
// NET "f3_TDC_CS" LOC = P21 | IOSTANDARD = LVTTL; // SPI_CS
// NET "f3_TDC_MOSI" LOC = P11 | IOSTANDARD = LVTTL; // SPI_MOSI
// NET "f3_TDC_DOUT" LOC = P14 | IOSTANDARD = LVTTL; //SPI_MISO
// // MEMS
// NET "f3_MEMS_FCLK" LOC = P17 | IOSTANDARD = LVTTL; // FCLK_IN
// NET "f3_MEMS_SPI_CLOCK" LOC = P27 | IOSTANDARD = LVTTL; // M_CLK
// NET "f3_MEMS_MOSI" LOC = P23 | IOSTANDARD = LVTTL; // M_DIN
// NET "f3_MEMS_CS" LOC = P26 | IOSTANDARD = LVTTL; // M_CS


// // F4 - WORKED
// NET "f4_ENABLE" LOC = P6 | IOSTANDARD = LVTTL;
// // TDC
// NET "f4_TDC_START_SIGNAL" LOC = P2 | IOSTANDARD = LVTTL; // EXT-START; laser triger also from here
// NET "f4_TDC_INTB" LOC = P7 | IOSTANDARD = LVTTL;  // STOP
// NET "f4_TDC_REF_CLOCK" LOC = P12 | IOSTANDARD = LVTTL; // CLOCK
// NET "f4_TDC_SPI_CLOCK" LOC = P143 | IOSTANDARD = LVTTL; // SPI_CLK
// NET "f4_TDC_CS" LOC = P1 | IOSTANDARD = LVTTL; // SPI_CS
// NET "f4_TDC_MOSI" LOC = P5 | IOSTANDARD = LVTTL; // SPI_MOSI
// NET "f4_TDC_DOUT" LOC = P144 | IOSTANDARD = LVTTL; //SPI_MISO
// // MEMS
// NET "f4_MEMS_FCLK" LOC = P141 | IOSTANDARD = LVTTL; // FCLK_IN
// NET "f4_MEMS_SPI_CLOCK" LOC = P8 | IOSTANDARD = LVTTL; // M_CLK
// NET "f4_MEMS_MOSI" LOC = P10 | IOSTANDARD = LVTTL; // M_DIN
// NET "f4_MEMS_CS" LOC = P9 | IOSTANDARD = LVTTL; // M_CS


// // F5 - WORKED
// NET "f5_ENABLE" LOC = P138 | IOSTANDARD = LVTTL;
// // TDC
// NET "f5_TDC_START_SIGNAL" LOC = P97 | IOSTANDARD = LVTTL; // EXT-START; laser triger also from here
// NET "f5_TDC_INTB" LOC = P95 | IOSTANDARD = LVTTL;  // STOP
// NET "f5_TDC_REF_CLOCK" LOC = P139 | IOSTANDARD = LVTTL; // CLOCK
// NET "f5_TDC_SPI_CLOCK" LOC = P101 | IOSTANDARD = LVTTL; // SPI_CLK
// NET "f5_TDC_CS" LOC = P100 | IOSTANDARD = LVTTL; // SPI_CS
// NET "f5_TDC_MOSI" LOC = P99 | IOSTANDARD = LVTTL; // SPI_MOSI
// NET "f5_TDC_DOUT" LOC = P98 | IOSTANDARD = LVTTL; //SPI_MISO
// // MEMS
// NET "f5_MEMS_FCLK" LOC = P102 | IOSTANDARD = LVTTL; // FCLK_IN
// NET "f5_MEMS_SPI_CLOCK" LOC = P137 | IOSTANDARD = LVTTL; // M_CLK
// NET "f5_MEMS_MOSI" LOC = P142 | IOSTANDARD = LVTTL; // M_DIN
// NET "f5_MEMS_CS" LOC = P140 | IOSTANDARD = LVTTL; // M_CS

// // F6 - WORKED
// NET "f6_ENABLE" LOC = P104 | IOSTANDARD = LVTTL;
// // TDC
// NET "f6_TDC_START_SIGNAL" LOC = P116 | IOSTANDARD = LVTTL; // EXT-START; laser triger also from here
// NET "f6_TDC_INTB" LOC = P111 | IOSTANDARD = LVTTL;  // STOP
// NET "f6_TDC_REF_CLOCK" LOC = P112 | IOSTANDARD = LVTTL; // CLOCK
// NET "f6_TDC_SPI_CLOCK" LOC = P120 | IOSTANDARD = LVTTL; // SPI_CLK
// NET "f6_TDC_CS" LOC = P119 | IOSTANDARD = LVTTL; // SPI_CS
// NET "f6_TDC_MOSI" LOC = P118 | IOSTANDARD = LVTTL; // SPI_MOSI
// NET "f6_TDC_DOUT" LOC = P117 | IOSTANDARD = LVTTL; //SPI_MISO
// // MEMS
// NET "f6_MEMS_FCLK" LOC = P121 | IOSTANDARD = LVTTL; // FCLK_IN
// NET "f6_MEMS_SPI_CLOCK" LOC = P115 | IOSTANDARD = LVTTL; // M_CLK
// NET "f6_MEMS_MOSI" LOC = P114 | IOSTANDARD = LVTTL; // M_DIN
// NET "f6_MEMS_CS" LOC = P105 | IOSTANDARD = LVTTL; // M_CS



// EXTERNAL SERIAL
NET "SERIAL_OUT_TDC" LOC = P51;
NET "SERIAL_OUT_TDC" IOSTANDARD = LVTTL;


// DEBUGGING
// NET "f2_new_line" LOC = P123 | IOSTANDARD = LVTTL;  // FOR EXTERNAL SERIAL
// NET "f2_new_frame" LOC = P123 | IOSTANDARD = LVTTL;  // FOR EXTERNAL SERIAL

// NET "f2_new_line" LOC = P123 | IOSTANDARD = LVTTL;  // FOR EXTERNAL SERIAL
// NET "f2_new_frame_FIFO_done" LOC = P124 | IOSTANDARD = LVTTL;  // FOR EXTERNAL SERIAL
// NET "f2_new_frame" LOC = P127 | IOSTANDARD = LVTTL;  // FOR EXTERNAL SERIAL



// NET "f2_wr_en" LOC = P123 | IOSTANDARD = LVTTL;  // FOR EXTERNAL SERIAL
// NET "f3_wr_en" LOC = P127 | IOSTANDARD = LVTTL;  // FOR EXTERNAL SERIAL

// NET "fake_f2_TDC_START_SIGNAL" LOC = P124 | IOSTANDARD = LVTTL;  // FOR EXTERNAL SERIAL

// 
// NET "CHECK_DATA" LOC = P124 | IOSTANDARD = LVTTL;  // FOR EXTERNAL SERIAL



// GLOBAL
// NET "play" LOC = P117 | IOSTANDARD = LVTTL;
// NET "pause" LOC = P116 | IOSTANDARD = LVTTL;
// FIFO
// NET "w_rd_en" LOC = P112 | IOSTANDARD = LVTTL;
// NET "w_wr_en" LOC = P105 | IOSTANDARD = LVTTL;
// NET "FIFO_FULL" LOC = P101 | IOSTANDARD = LVTTL;
// NET "FIFO_EMPTY" LOC = P104 | IOSTANDARD = LVTTL;
// TDC
// NET "tdc_start" LOC = P82 | IOSTANDARD = LVTTL;
// NET "tdc_new_data" LOC = P81 | IOSTANDARD = LVTTL;
// NET "tdc_busy" LOC = P82 | IOSTANDARD = LVTTL;
// NET "tx_busy_TDC" LOC = P111 | IOSTANDARD = LVTTL;
// NET "t_new_data_FROM_FIFO_TO_SERIAL" LOC = P117 | IOSTANDARD = LVTTL

//NET "CS_BEGIN" LOC = P97 | IOSTANDARD = LVTTL;
//NET "CS_END" LOC = P98 | IOSTANDARD = LVTTL;


// OLD, WIRE WORKING
// NET "tdc_mosi" LOC = P78 | IOSTANDARD = LVTTL;
// NET "tdc_spi_clock" LOC = P79 | IOSTANDARD = LVTTL;
// NET "tdc_CS" LOC = P80 | IOSTANDARD = LVTTL;
// NET "tdc_enable" LOC = P83 | IOSTANDARD = LVTTL;
// NET "TDC_REF_CLOCK" LOC = P84 | IOSTANDARD = LVTTL;
// NET "laser_trig" LOC = P99 | IOSTANDARD = LVTTL;
// NET "w_TDC_DOUT" LOC = P97 | IOSTANDARD = LVTTL;
