//! **************************************************************************
// Written by: Map P.20131013 on Fri Feb 02 10:33:23 2018
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "P56" LEVEL 1;
COMP "cclk" LOCATE = SITE "P70" LEVEL 1;
COMP "f2_ENABLE" LOCATE = SITE "P84" LEVEL 1;
COMP "f2_TDC_CS" LOCATE = SITE "P33" LEVEL 1;
COMP "rst_n" LOCATE = SITE "P38" LEVEL 1;
COMP "f2_TDC_START_SIGNAL" LOCATE = SITE "P94" LEVEL 1;
COMP "f2_TDC_DOUT" LOCATE = SITE "P32" LEVEL 1;
COMP "spi_sck" LOCATE = SITE "P43" LEVEL 1;
COMP "f2_TDC_INTB" LOCATE = SITE "P93" LEVEL 1;
COMP "f2_TDC_MOSI" LOCATE = SITE "P30" LEVEL 1;
COMP "avr_rx_busy" LOCATE = SITE "P39" LEVEL 1;
COMP "spi_channel[0]" LOCATE = SITE "P46" LEVEL 1;
COMP "spi_channel[1]" LOCATE = SITE "P61" LEVEL 1;
COMP "spi_channel[2]" LOCATE = SITE "P62" LEVEL 1;
COMP "spi_channel[3]" LOCATE = SITE "P65" LEVEL 1;
COMP "f2_TDC_REF_CLOCK" LOCATE = SITE "P92" LEVEL 1;
COMP "avr_rx" LOCATE = SITE "P59" LEVEL 1;
COMP "avr_tx" LOCATE = SITE "P55" LEVEL 1;
COMP "f2_MEMS_CS" LOCATE = SITE "P87" LEVEL 1;
COMP "spi_ss" LOCATE = SITE "P48" LEVEL 1;
COMP "f2_MEMS_FCLK" LOCATE = SITE "P35" LEVEL 1;
COMP "f2_MEMS_MOSI" LOCATE = SITE "P88" LEVEL 1;
COMP "f2_TDC_SPI_CLOCK" LOCATE = SITE "P34" LEVEL 1;
COMP "f2_MEMS_SPI_CLOCK" LOCATE = SITE "P85" LEVEL 1;
COMP "spi_miso" LOCATE = SITE "P45" LEVEL 1;
COMP "spi_mosi" LOCATE = SITE "P44" LEVEL 1;
COMP "SERIAL_OUT_TDC" LOCATE = SITE "P51" LEVEL 1;
PIN f2_mems_control_mems_rom/Mram_addrs[11]_X_28_o_wide_mux_33_OUT4_pins<12> =
        BEL "f2_mems_control_mems_rom/Mram_addrs[11]_X_28_o_wide_mux_33_OUT4"
        PINNAME CLKA;
PIN f2_mems_control_mems_rom/Mram_addrs[11]_X_28_o_wide_mux_33_OUT3_pins<12> =
        BEL "f2_mems_control_mems_rom/Mram_addrs[11]_X_28_o_wide_mux_33_OUT3"
        PINNAME CLKA;
PIN f2_mems_control_mems_rom/Mram_addrs[11]_X_28_o_wide_mux_33_OUT2_pins<12> =
        BEL "f2_mems_control_mems_rom/Mram_addrs[11]_X_28_o_wide_mux_33_OUT2"
        PINNAME CLKA;
PIN f2_mems_control_mems_rom/Mram_addrs[11]_X_28_o_wide_mux_33_OUT1_pins<12> =
        BEL "f2_mems_control_mems_rom/Mram_addrs[11]_X_28_o_wide_mux_33_OUT1"
        PINNAME CLKA;
TIMEGRP clk = BEL "f2_mems_control/state_q_FSM_FFd1" BEL
        "f2_mems_control/state_q_FSM_FFd2" BEL "f2_mems_control/addr_q_15" BEL
        "f2_mems_control/addr_q_14" BEL "f2_mems_control/addr_q_13" BEL
        "f2_mems_control/addr_q_12" BEL "f2_mems_control/addr_q_11" BEL
        "f2_mems_control/addr_q_10" BEL "f2_mems_control/addr_q_9" BEL
        "f2_mems_control/addr_q_8" BEL "f2_mems_control/addr_q_7" BEL
        "f2_mems_control/addr_q_6" BEL "f2_mems_control/addr_q_5" BEL
        "f2_mems_control/addr_q_4" BEL "f2_mems_control/addr_q_3" BEL
        "f2_mems_control/addr_q_2" BEL "f2_mems_control/addr_q_1" BEL
        "f2_mems_control/addr_q_0" BEL "f2_mems_control/mems_SPI_start_q" BEL
        "f2_mems_control/new_frame_q" BEL "f2_mems_control/new_line_q" BEL
        "f2_mems_control/addr_q_2_1" BEL "f2_mems_control/mems_rom/data_q_10"
        BEL "f2_mems_control/mems_rom/data_q_11" BEL
        "f2_mems_control/mems_rom/data_q_12" BEL
        "f2_mems_control/mems_rom/data_q_13" BEL
        "f2_mems_control/mems_rom/data_q_14" BEL
        "f2_mems_control/mems_rom/data_q_15" BEL
        "f2_mems_control/mems_rom/data_q_20" BEL
        "f2_mems_control/mems_rom/data_q_16" BEL
        "f2_mems_control/mems_rom/data_q_21" BEL
        "f2_mems_control/mems_rom/data_q_17" BEL
        "f2_mems_control/mems_rom/data_q_0" BEL
        "f2_mems_control/mems_rom/data_q_1" BEL
        "f2_mems_control/mems_rom/data_q_2" BEL
        "f2_mems_control/mems_rom/data_q_3" BEL
        "f2_mems_control/mems_rom/data_q_4" BEL
        "f2_mems_control/mems_rom/data_q_5" BEL
        "f2_mems_control/mems_rom/data_q_6" BEL
        "f2_mems_control/mems_rom/data_q_7" BEL
        "f2_mems_control/mems_rom/data_q_8" BEL
        "f2_mems_control/mems_rom/data_q_9" BEL "clk_BUFGP/BUFG" BEL
        "main_control/state_q_1" BEL "main_control/state_q_0" BEL
        "main_control/countr_q_19" BEL "main_control/countr_q_18" BEL
        "main_control/countr_q_17" BEL "main_control/countr_q_16" BEL
        "main_control/countr_q_15" BEL "main_control/countr_q_14" BEL
        "main_control/countr_q_13" BEL "main_control/countr_q_12" BEL
        "main_control/countr_q_11" BEL "main_control/countr_q_10" BEL
        "main_control/countr_q_9" BEL "main_control/countr_q_8" BEL
        "main_control/countr_q_7" BEL "main_control/countr_q_6" BEL
        "main_control/countr_q_5" BEL "main_control/countr_q_4" BEL
        "main_control/countr_q_3" BEL "main_control/countr_q_2" BEL
        "main_control/countr_q_1" BEL "main_control/countr_q_0" BEL
        "main_control/go_home_q" BEL "main_control/tdc_enable_q" BEL
        "f2_mems_spi_master/ctr_q_4" BEL "f2_mems_spi_master/ctr_q_3" BEL
        "f2_mems_spi_master/ctr_q_2" BEL "f2_mems_spi_master/ctr_q_1" BEL
        "f2_mems_spi_master/ctr_q_0" BEL "f2_mems_spi_master/state_q_FSM_FFd1"
        BEL "f2_mems_spi_master/state_q_FSM_FFd2" BEL
        "f2_mems_spi_master/state_q_FSM_FFd3" BEL "f2_mems_spi_master/sck_q_8"
        BEL "f2_mems_spi_master/sck_q_7" BEL "f2_mems_spi_master/sck_q_6" BEL
        "f2_mems_spi_master/sck_q_5" BEL "f2_mems_spi_master/sck_q_4" BEL
        "f2_mems_spi_master/sck_q_3" BEL "f2_mems_spi_master/sck_q_2" BEL
        "f2_mems_spi_master/sck_q_1" BEL "f2_mems_spi_master/sck_q_0" BEL
        "f2_mems_spi_master/data_q_23" BEL "f2_mems_spi_master/data_q_22" BEL
        "f2_mems_spi_master/data_q_21" BEL "f2_mems_spi_master/data_q_20" BEL
        "f2_mems_spi_master/data_q_19" BEL "f2_mems_spi_master/data_q_18" BEL
        "f2_mems_spi_master/data_q_17" BEL "f2_mems_spi_master/data_q_16" BEL
        "f2_mems_spi_master/data_q_15" BEL "f2_mems_spi_master/data_q_14" BEL
        "f2_mems_spi_master/data_q_13" BEL "f2_mems_spi_master/data_q_12" BEL
        "f2_mems_spi_master/data_q_11" BEL "f2_mems_spi_master/data_q_10" BEL
        "f2_mems_spi_master/data_q_9" BEL "f2_mems_spi_master/data_q_8" BEL
        "f2_mems_spi_master/data_q_7" BEL "f2_mems_spi_master/data_q_6" BEL
        "f2_mems_spi_master/data_q_5" BEL "f2_mems_spi_master/data_q_4" BEL
        "f2_mems_spi_master/data_q_3" BEL "f2_mems_spi_master/data_q_2" BEL
        "f2_mems_spi_master/data_q_1" BEL "f2_mems_spi_master/data_q_0" BEL
        "f2_mems_spi_master/mosi_q" BEL "f2_mems_spi_master/CS_q" BEL
        "f2_mems_spi_master/state_q_FSM_FFd2_1" BEL
        "f2_tdc_spi_master/ctr_q_4" BEL "f2_tdc_spi_master/ctr_q_3" BEL
        "f2_tdc_spi_master/ctr_q_2" BEL "f2_tdc_spi_master/ctr_q_1" BEL
        "f2_tdc_spi_master/ctr_q_0" BEL "f2_tdc_spi_master/state_q_FSM_FFd1"
        BEL "f2_tdc_spi_master/state_q_FSM_FFd3" BEL
        "f2_tdc_spi_master/state_q_FSM_FFd2" BEL "f2_tdc_spi_master/sck_q_2"
        BEL "f2_tdc_spi_master/sck_q_1" BEL "f2_tdc_spi_master/sck_q_0" BEL
        "f2_tdc_spi_master/data_out_q_7" BEL "f2_tdc_spi_master/data_out_q_6"
        BEL "f2_tdc_spi_master/data_out_q_5" BEL
        "f2_tdc_spi_master/data_out_q_4" BEL "f2_tdc_spi_master/data_out_q_3"
        BEL "f2_tdc_spi_master/data_out_q_2" BEL
        "f2_tdc_spi_master/data_out_q_1" BEL "f2_tdc_spi_master/data_out_q_0"
        BEL "f2_tdc_spi_master/data_q_7" BEL "f2_tdc_spi_master/data_q_6" BEL
        "f2_tdc_spi_master/data_q_5" BEL "f2_tdc_spi_master/data_q_4" BEL
        "f2_tdc_spi_master/data_q_3" BEL "f2_tdc_spi_master/data_q_2" BEL
        "f2_tdc_spi_master/data_q_1" BEL "f2_tdc_spi_master/data_q_0" BEL
        "f2_tdc_spi_master/mosi_q" BEL "f2_tdc_spi_master/CS_q" BEL
        "f2_FCLK/my_clk_q" BEL "f2_FCLK/cnt_q_0" BEL "f2_FCLK/cnt_q_1" BEL
        "f2_FCLK/cnt_q_2" BEL "f2_FCLK/cnt_q_3" BEL "f2_FCLK/cnt_q_4" BEL
        "f2_FCLK/cnt_q_5" BEL "f2_FCLK/cnt_q_6" BEL "f2_FCLK/cnt_q_7" BEL
        "f2_FCLK/cnt_q_8" BEL "f2_FCLK/cnt_q_9" PIN
        "f2_mems_control_mems_rom/Mram_addrs[11]_X_28_o_wide_mux_33_OUT4_pins<12>"
        PIN
        "f2_mems_control_mems_rom/Mram_addrs[11]_X_28_o_wide_mux_33_OUT3_pins<12>"
        PIN
        "f2_mems_control_mems_rom/Mram_addrs[11]_X_28_o_wide_mux_33_OUT2_pins<12>"
        PIN
        "f2_mems_control_mems_rom/Mram_addrs[11]_X_28_o_wide_mux_33_OUT1_pins<12>"
        BEL "f2_tdc_ref_clk/my_clk_q" BEL "fifo_manager/delay_q_1" BEL
        "fifo_manager/delay_q_0" BEL "fifo_manager/data_TO_FIFO_q_47" BEL
        "fifo_manager/data_TO_FIFO_q_46" BEL "fifo_manager/data_TO_FIFO_q_45"
        BEL "fifo_manager/data_TO_FIFO_q_44" BEL
        "fifo_manager/data_TO_FIFO_q_43" BEL "fifo_manager/data_TO_FIFO_q_42"
        BEL "fifo_manager/data_TO_FIFO_q_41" BEL
        "fifo_manager/data_TO_FIFO_q_40" BEL "fifo_manager/data_TO_FIFO_q_39"
        BEL "fifo_manager/data_TO_FIFO_q_38" BEL
        "fifo_manager/data_TO_FIFO_q_37" BEL "fifo_manager/data_TO_FIFO_q_36"
        BEL "fifo_manager/data_TO_FIFO_q_35" BEL
        "fifo_manager/data_TO_FIFO_q_34" BEL "fifo_manager/data_TO_FIFO_q_33"
        BEL "fifo_manager/data_TO_FIFO_q_32" BEL
        "fifo_manager/data_TO_FIFO_q_31" BEL "fifo_manager/data_TO_FIFO_q_30"
        BEL "fifo_manager/data_TO_FIFO_q_29" BEL
        "fifo_manager/data_TO_FIFO_q_28" BEL "fifo_manager/data_TO_FIFO_q_27"
        BEL "fifo_manager/data_TO_FIFO_q_26" BEL
        "fifo_manager/data_TO_FIFO_q_25" BEL "fifo_manager/data_TO_FIFO_q_24"
        BEL "fifo_manager/data_TO_FIFO_q_23" BEL
        "fifo_manager/data_TO_FIFO_q_22" BEL "fifo_manager/data_TO_FIFO_q_21"
        BEL "fifo_manager/data_TO_FIFO_q_20" BEL
        "fifo_manager/data_TO_FIFO_q_19" BEL "fifo_manager/data_TO_FIFO_q_18"
        BEL "fifo_manager/data_TO_FIFO_q_17" BEL
        "fifo_manager/data_TO_FIFO_q_16" BEL
        "fifo_manager/new_data_FROM_FIFO_TO_SERIAL_q" BEL
        "fifo_manager/wr_en_q" BEL
        "fifo_manager/serial_tx_TDC/Byte_countr_q_2" BEL
        "fifo_manager/serial_tx_TDC/Byte_countr_q_1" BEL
        "fifo_manager/serial_tx_TDC/Byte_countr_q_0" BEL
        "fifo_manager/serial_tx_TDC/state_q_FSM_FFd1" BEL
        "fifo_manager/serial_tx_TDC/bit_ctr_q_6" BEL
        "fifo_manager/serial_tx_TDC/bit_ctr_q_5" BEL
        "fifo_manager/serial_tx_TDC/bit_ctr_q_4" BEL
        "fifo_manager/serial_tx_TDC/bit_ctr_q_3" BEL
        "fifo_manager/serial_tx_TDC/bit_ctr_q_2" BEL
        "fifo_manager/serial_tx_TDC/bit_ctr_q_1" BEL
        "fifo_manager/serial_tx_TDC/bit_ctr_q_0" BEL
        "fifo_manager/serial_tx_TDC/state_q_FSM_FFd2" BEL
        "fifo_manager/serial_tx_TDC/ctr_q_5" BEL
        "fifo_manager/serial_tx_TDC/ctr_q_4" BEL
        "fifo_manager/serial_tx_TDC/ctr_q_3" BEL
        "fifo_manager/serial_tx_TDC/ctr_q_2" BEL
        "fifo_manager/serial_tx_TDC/ctr_q_1" BEL
        "fifo_manager/serial_tx_TDC/ctr_q_0" BEL
        "fifo_manager/serial_tx_TDC/tx_q" BEL
        "fifo_manager/serial_tx_TDC/block_q" BEL
        "fifo_manager/serial_tx_TDC/data_q_47" BEL
        "fifo_manager/serial_tx_TDC/data_q_46" BEL
        "fifo_manager/serial_tx_TDC/data_q_45" BEL
        "fifo_manager/serial_tx_TDC/data_q_44" BEL
        "fifo_manager/serial_tx_TDC/data_q_43" BEL
        "fifo_manager/serial_tx_TDC/data_q_42" BEL
        "fifo_manager/serial_tx_TDC/data_q_41" BEL
        "fifo_manager/serial_tx_TDC/data_q_40" BEL
        "fifo_manager/serial_tx_TDC/data_q_39" BEL
        "fifo_manager/serial_tx_TDC/data_q_38" BEL
        "fifo_manager/serial_tx_TDC/data_q_37" BEL
        "fifo_manager/serial_tx_TDC/data_q_36" BEL
        "fifo_manager/serial_tx_TDC/data_q_35" BEL
        "fifo_manager/serial_tx_TDC/data_q_34" BEL
        "fifo_manager/serial_tx_TDC/data_q_33" BEL
        "fifo_manager/serial_tx_TDC/data_q_32" BEL
        "fifo_manager/serial_tx_TDC/data_q_31" BEL
        "fifo_manager/serial_tx_TDC/data_q_30" BEL
        "fifo_manager/serial_tx_TDC/data_q_29" BEL
        "fifo_manager/serial_tx_TDC/data_q_28" BEL
        "fifo_manager/serial_tx_TDC/data_q_27" BEL
        "fifo_manager/serial_tx_TDC/data_q_26" BEL
        "fifo_manager/serial_tx_TDC/data_q_25" BEL
        "fifo_manager/serial_tx_TDC/data_q_24" BEL
        "fifo_manager/serial_tx_TDC/data_q_23" BEL
        "fifo_manager/serial_tx_TDC/data_q_22" BEL
        "fifo_manager/serial_tx_TDC/data_q_21" BEL
        "fifo_manager/serial_tx_TDC/data_q_20" BEL
        "fifo_manager/serial_tx_TDC/data_q_19" BEL
        "fifo_manager/serial_tx_TDC/data_q_18" BEL
        "fifo_manager/serial_tx_TDC/data_q_17" BEL
        "fifo_manager/serial_tx_TDC/data_q_16" BEL
        "fifo_manager/serial_tx_TDC/data_q_15" BEL
        "fifo_manager/serial_tx_TDC/data_q_14" BEL
        "fifo_manager/serial_tx_TDC/data_q_13" BEL
        "fifo_manager/serial_tx_TDC/data_q_12" BEL
        "fifo_manager/serial_tx_TDC/data_q_11" BEL
        "fifo_manager/serial_tx_TDC/data_q_10" BEL
        "fifo_manager/serial_tx_TDC/data_q_9" BEL
        "fifo_manager/serial_tx_TDC/data_q_8" BEL
        "fifo_manager/serial_tx_TDC/data_q_7" BEL
        "fifo_manager/serial_tx_TDC/data_q_6" BEL
        "fifo_manager/serial_tx_TDC/data_q_5" BEL
        "fifo_manager/serial_tx_TDC/data_q_4" BEL
        "fifo_manager/serial_tx_TDC/data_q_3" BEL
        "fifo_manager/serial_tx_TDC/data_q_2" BEL
        "fifo_manager/serial_tx_TDC/data_q_1" BEL
        "fifo_manager/serial_tx_TDC/data_q_0" BEL
        "fifo_manager/serial_tx_TDC/busy_q" BEL "fifo_manager/fifo/rd_ptr_5"
        BEL "fifo_manager/fifo/rd_ptr_4" BEL "fifo_manager/fifo/rd_ptr_3" BEL
        "fifo_manager/fifo/rd_ptr_2" BEL "fifo_manager/fifo/rd_ptr_1" BEL
        "fifo_manager/fifo/rd_ptr_0" BEL "fifo_manager/fifo/fifo_counter_6"
        BEL "fifo_manager/fifo/fifo_counter_5" BEL
        "fifo_manager/fifo/fifo_counter_4" BEL
        "fifo_manager/fifo/fifo_counter_3" BEL
        "fifo_manager/fifo/fifo_counter_2" BEL
        "fifo_manager/fifo/fifo_counter_1" BEL
        "fifo_manager/fifo/fifo_counter_0" BEL "fifo_manager/fifo/wr_ptr_5"
        BEL "fifo_manager/fifo/wr_ptr_4" BEL "fifo_manager/fifo/wr_ptr_3" BEL
        "fifo_manager/fifo/wr_ptr_2" BEL "fifo_manager/fifo/wr_ptr_1" BEL
        "fifo_manager/fifo/wr_ptr_0" BEL "fifo_manager/fifo/buf_out_47" BEL
        "fifo_manager/fifo/buf_out_46" BEL "fifo_manager/fifo/buf_out_45" BEL
        "fifo_manager/fifo/buf_out_44" BEL "fifo_manager/fifo/buf_out_43" BEL
        "fifo_manager/fifo/buf_out_42" BEL "fifo_manager/fifo/buf_out_41" BEL
        "fifo_manager/fifo/buf_out_40" BEL "fifo_manager/fifo/buf_out_39" BEL
        "fifo_manager/fifo/buf_out_38" BEL "fifo_manager/fifo/buf_out_37" BEL
        "fifo_manager/fifo/buf_out_36" BEL "fifo_manager/fifo/buf_out_35" BEL
        "fifo_manager/fifo/buf_out_34" BEL "fifo_manager/fifo/buf_out_33" BEL
        "fifo_manager/fifo/buf_out_32" BEL "fifo_manager/fifo/buf_out_31" BEL
        "fifo_manager/fifo/buf_out_30" BEL "fifo_manager/fifo/buf_out_29" BEL
        "fifo_manager/fifo/buf_out_28" BEL "fifo_manager/fifo/buf_out_27" BEL
        "fifo_manager/fifo/buf_out_26" BEL "fifo_manager/fifo/buf_out_25" BEL
        "fifo_manager/fifo/buf_out_24" BEL "fifo_manager/fifo/buf_out_23" BEL
        "fifo_manager/fifo/buf_out_22" BEL "fifo_manager/fifo/buf_out_21" BEL
        "fifo_manager/fifo/buf_out_20" BEL "fifo_manager/fifo/buf_out_19" BEL
        "fifo_manager/fifo/buf_out_18" BEL "fifo_manager/fifo/buf_out_17" BEL
        "fifo_manager/fifo/buf_out_16" BEL "fifo_manager/fifo/buf_out_15" BEL
        "fifo_manager/fifo/buf_out_14" BEL "fifo_manager/fifo/buf_out_13" BEL
        "fifo_manager/fifo/buf_out_12" BEL "fifo_manager/fifo/buf_out_11" BEL
        "fifo_manager/fifo/buf_out_10" BEL "fifo_manager/fifo/buf_out_9" BEL
        "fifo_manager/fifo/buf_out_8" BEL "fifo_manager/fifo/buf_out_7" BEL
        "fifo_manager/fifo/buf_out_6" BEL "fifo_manager/fifo/buf_out_5" BEL
        "fifo_manager/fifo/buf_out_4" BEL "fifo_manager/fifo/buf_out_3" BEL
        "fifo_manager/fifo/buf_out_2" BEL "fifo_manager/fifo/buf_out_1" BEL
        "fifo_manager/fifo/buf_out_0" BEL
        "avr_interface/cclk_detector/ctr_q_8" BEL
        "avr_interface/cclk_detector/ctr_q_7" BEL
        "avr_interface/cclk_detector/ctr_q_9" BEL
        "avr_interface/cclk_detector/ctr_q_6" BEL
        "avr_interface/cclk_detector/ctr_q_5" BEL
        "avr_interface/cclk_detector/ctr_q_4" BEL
        "avr_interface/cclk_detector/ctr_q_3" BEL
        "avr_interface/cclk_detector/ctr_q_2" BEL
        "avr_interface/cclk_detector/ctr_q_1" BEL
        "avr_interface/cclk_detector/ctr_q_0" BEL
        "avr_interface/cclk_detector/ready_q" BEL
        "avr_interface/spi_slave/bit_ct_q_1" BEL
        "avr_interface/spi_slave/bit_ct_q_0" BEL
        "avr_interface/spi_slave/bit_ct_q_2" BEL
        "avr_interface/spi_slave/data_q_7" BEL
        "avr_interface/spi_slave/data_q_6" BEL
        "avr_interface/spi_slave/data_q_5" BEL
        "avr_interface/spi_slave/data_q_4" BEL
        "avr_interface/spi_slave/data_q_3" BEL
        "avr_interface/spi_slave/data_q_2" BEL
        "avr_interface/spi_slave/data_q_1" BEL
        "avr_interface/spi_slave/data_q_0" BEL
        "avr_interface/spi_slave/sck_old_q" BEL
        "avr_interface/spi_slave/mosi_q" BEL "avr_interface/spi_slave/sck_q"
        BEL "avr_interface/spi_slave/ss_q" BEL
        "avr_interface/spi_slave/miso_q" BEL
        "avr_interface/serial_rx/bit_ctr_q_2" BEL
        "avr_interface/serial_rx/bit_ctr_q_1" BEL
        "avr_interface/serial_rx/bit_ctr_q_0" BEL
        "avr_interface/serial_rx/state_q_FSM_FFd1" BEL
        "avr_interface/serial_rx/state_q_FSM_FFd2" BEL
        "avr_interface/serial_rx/ctr_q_6" BEL
        "avr_interface/serial_rx/ctr_q_5" BEL
        "avr_interface/serial_rx/ctr_q_4" BEL
        "avr_interface/serial_rx/ctr_q_3" BEL
        "avr_interface/serial_rx/ctr_q_2" BEL
        "avr_interface/serial_rx/ctr_q_1" BEL
        "avr_interface/serial_rx/ctr_q_0" BEL
        "avr_interface/serial_rx/new_data_q" BEL
        "avr_interface/serial_rx/data_q_7" BEL
        "avr_interface/serial_rx/data_q_6" BEL
        "avr_interface/serial_rx/data_q_5" BEL
        "avr_interface/serial_rx/data_q_4" BEL
        "avr_interface/serial_rx/data_q_3" BEL
        "avr_interface/serial_rx/data_q_2" BEL
        "avr_interface/serial_rx/data_q_1" BEL
        "avr_interface/serial_rx/data_q_0" BEL "avr_interface/serial_rx/rx_q"
        BEL "f2_tdc_control/start_signal_q" BEL
        "f2_tdc_control/Byte_countr_q_0" BEL "f2_tdc_control/Byte_countr_q_1"
        BEL "f2_tdc_control/calib1_q_0" BEL "f2_tdc_control/calib1_q_1" BEL
        "f2_tdc_control/calib1_q_2" BEL "f2_tdc_control/calib1_q_3" BEL
        "f2_tdc_control/calib1_q_4" BEL "f2_tdc_control/calib1_q_5" BEL
        "f2_tdc_control/calib1_q_6" BEL "f2_tdc_control/calib1_q_7" BEL
        "f2_tdc_control/calib1_q_8" BEL "f2_tdc_control/calib1_q_9" BEL
        "f2_tdc_control/CS_countr_q_10" BEL "f2_tdc_control/CS_countr_q_11"
        BEL "f2_tdc_control/CS_countr_q_12" BEL
        "f2_tdc_control/CS_countr_q_13" BEL "f2_tdc_control/CS_countr_q_14"
        BEL "f2_tdc_control/CS_countr_q_15" BEL
        "f2_tdc_control/tdc_rom/data_q_7" BEL
        "f2_tdc_control/tdc_rom/data_q_6" BEL
        "f2_tdc_control/tdc_rom/data_q_5" BEL
        "f2_tdc_control/tdc_rom/data_q_4" BEL
        "f2_tdc_control/tdc_rom/data_q_3" BEL
        "f2_tdc_control/tdc_rom/data_q_2" BEL
        "f2_tdc_control/tdc_rom/data_q_1" BEL
        "f2_tdc_control/tdc_rom/data_q_0" BEL "f2_tdc_control/time1_q_10" BEL
        "f2_tdc_control/time1_q_11" BEL "f2_tdc_control/time1_q_12" BEL
        "f2_tdc_control/time1_q_13" BEL "f2_tdc_control/time1_q_14" BEL
        "f2_tdc_control/time1_q_15" BEL "f2_tdc_control/data_TO_FIFO_q_10" BEL
        "f2_tdc_control/data_TO_FIFO_q_11" BEL
        "f2_tdc_control/data_TO_FIFO_q_12" BEL
        "f2_tdc_control/data_TO_FIFO_q_13" BEL
        "f2_tdc_control/data_TO_FIFO_q_14" BEL
        "f2_tdc_control/data_TO_FIFO_q_15" BEL
        "f2_tdc_control/data_TO_FIFO_q_20" BEL
        "f2_tdc_control/data_TO_FIFO_q_16" BEL
        "f2_tdc_control/data_TO_FIFO_q_21" BEL
        "f2_tdc_control/data_TO_FIFO_q_17" BEL
        "f2_tdc_control/data_TO_FIFO_q_22" BEL
        "f2_tdc_control/data_TO_FIFO_q_18" BEL
        "f2_tdc_control/data_TO_FIFO_q_23" BEL
        "f2_tdc_control/data_TO_FIFO_q_19" BEL
        "f2_tdc_control/data_TO_FIFO_q_24" BEL
        "f2_tdc_control/data_TO_FIFO_q_25" BEL
        "f2_tdc_control/data_TO_FIFO_q_30" BEL
        "f2_tdc_control/data_TO_FIFO_q_26" BEL
        "f2_tdc_control/data_TO_FIFO_q_31" BEL
        "f2_tdc_control/data_TO_FIFO_q_27" BEL
        "f2_tdc_control/data_TO_FIFO_q_28" BEL
        "f2_tdc_control/data_TO_FIFO_q_29" BEL "f2_tdc_control/calib1_q_10"
        BEL "f2_tdc_control/calib1_q_11" BEL "f2_tdc_control/calib1_q_12" BEL
        "f2_tdc_control/calib1_q_13" BEL "f2_tdc_control/calib1_q_14" BEL
        "f2_tdc_control/calib1_q_15" BEL "f2_tdc_control/start_q" BEL
        "f2_tdc_control/CS_countr_q_0" BEL "f2_tdc_control/CS_countr_q_1" BEL
        "f2_tdc_control/CS_countr_q_2" BEL "f2_tdc_control/CS_countr_q_3" BEL
        "f2_tdc_control/CS_countr_q_4" BEL "f2_tdc_control/CS_countr_q_5" BEL
        "f2_tdc_control/CS_countr_q_6" BEL "f2_tdc_control/CS_countr_q_7" BEL
        "f2_tdc_control/CS_countr_q_8" BEL "f2_tdc_control/CS_countr_q_9" BEL
        "f2_tdc_control/calib2_q_10" BEL "f2_tdc_control/calib2_q_11" BEL
        "f2_tdc_control/calib2_q_12" BEL "f2_tdc_control/calib2_q_13" BEL
        "f2_tdc_control/calib2_q_14" BEL "f2_tdc_control/calib2_q_15" BEL
        "f2_tdc_control/wr_en_q" BEL "f2_tdc_control/calib_diff_q_10" BEL
        "f2_tdc_control/calib_diff_q_11" BEL "f2_tdc_control/calib_diff_q_12"
        BEL "f2_tdc_control/calib_diff_q_13" BEL
        "f2_tdc_control/calib_diff_q_14" BEL "f2_tdc_control/calib_diff_q_15"
        BEL "f2_tdc_control/data_TO_FIFO_q_0" BEL
        "f2_tdc_control/data_TO_FIFO_q_1" BEL
        "f2_tdc_control/data_TO_FIFO_q_2" BEL
        "f2_tdc_control/data_TO_FIFO_q_3" BEL
        "f2_tdc_control/data_TO_FIFO_q_4" BEL
        "f2_tdc_control/data_TO_FIFO_q_5" BEL
        "f2_tdc_control/data_TO_FIFO_q_6" BEL
        "f2_tdc_control/data_TO_FIFO_q_7" BEL
        "f2_tdc_control/data_TO_FIFO_q_8" BEL
        "f2_tdc_control/data_TO_FIFO_q_9" BEL
        "f2_tdc_control/state_q_FSM_FFd1" BEL
        "f2_tdc_control/state_q_FSM_FFd2" BEL
        "f2_tdc_control/state_q_FSM_FFd3" BEL
        "f2_tdc_control/state_q_FSM_FFd4" BEL "f2_tdc_control/time1_q_0" BEL
        "f2_tdc_control/time1_q_1" BEL "f2_tdc_control/time1_q_2" BEL
        "f2_tdc_control/time1_q_3" BEL "f2_tdc_control/time1_q_4" BEL
        "f2_tdc_control/time1_q_5" BEL "f2_tdc_control/time1_q_6" BEL
        "f2_tdc_control/time1_q_7" BEL "f2_tdc_control/time1_q_8" BEL
        "f2_tdc_control/time1_q_9" BEL "f2_tdc_control/calib2_q_0" BEL
        "f2_tdc_control/calib2_q_1" BEL "f2_tdc_control/calib2_q_2" BEL
        "f2_tdc_control/calib2_q_3" BEL "f2_tdc_control/calib2_q_4" BEL
        "f2_tdc_control/calib2_q_5" BEL "f2_tdc_control/calib2_q_6" BEL
        "f2_tdc_control/calib2_q_7" BEL "f2_tdc_control/calib2_q_8" BEL
        "f2_tdc_control/calib2_q_9" BEL "f2_tdc_control/state_q_FSM_FFd1_1"
        BEL "f2_tdc_control/CS_END_q" BEL "f2_tdc_control/calib_diff_q_0" BEL
        "f2_tdc_control/calib_diff_q_1" BEL "f2_tdc_control/calib_diff_q_2"
        BEL "f2_tdc_control/calib_diff_q_3" BEL "f2_tdc_control/addr_q_0" BEL
        "f2_tdc_control/calib_diff_q_4" BEL "f2_tdc_control/addr_q_1" BEL
        "f2_tdc_control/calib_diff_q_5" BEL "f2_tdc_control/addr_q_2" BEL
        "f2_tdc_control/calib_diff_q_6" BEL "f2_tdc_control/addr_q_3" BEL
        "f2_tdc_control/calib_diff_q_7" BEL "f2_tdc_control/addr_q_4" BEL
        "f2_tdc_control/calib_diff_q_8" BEL "f2_tdc_control/addr_q_5" BEL
        "f2_tdc_control/calib_diff_q_9" BEL
        "fifo_manager/fifo/Mram_buf_mem47/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem47/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem46/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem46/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem48/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem48/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem44/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem44/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem43/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem43/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem45/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem45/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem41/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem41/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem40/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem40/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem42/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem42/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem39/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem39/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem38/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem38/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem37/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem37/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem36/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem36/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem34/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem34/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem33/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem33/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem35/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem35/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem32/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem32/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem31/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem31/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem30/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem30/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem29/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem29/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem27/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem27/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem26/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem26/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem28/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem28/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem25/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem25/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem24/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem24/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem23/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem23/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem22/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem22/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem20/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem20/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem19/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem19/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem21/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem21/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem18/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem18/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem17/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem17/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem16/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem16/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem15/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem15/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem13/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem13/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem12/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem12/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem14/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem14/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem11/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem11/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem10/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem10/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem9/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem9/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem8/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem8/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem6/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem6/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem5/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem5/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem7/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem7/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem4/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem4/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem3/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem3/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem2/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem2/DP" BEL
        "fifo_manager/fifo/Mram_buf_mem1/SP" BEL
        "fifo_manager/fifo/Mram_buf_mem1/DP";
TS_clk = PERIOD TIMEGRP "clk" 50 MHz HIGH 50%;
SCHEMATIC END;

